.pobo-text-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #fffabf;
  color: black;
  font-weight: 600;
  text-align: center;
}

body {
  margin-top: 30px;
}
